body {
    margin-top: 30px;
    margin-bottom: 120px;
}

section {
    margin-top: -50px;
    padding: 0px 0;
}

.parallax-1 {
    background: url(../img/background-rayap.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);

}

.keunggulan,
.izin,
.komitmen {
    background: #eeee;
}

.bg-footer {
    background: #1f232b
}